<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/static/css/biography.css">
</head>
<body>
<header class="app-bar paper4">
    <% include ../partials/header.ejs %>
</header>
<main class="margin-top">
    <div class="row first">
        <div class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1">
            <div class="well">
                <div class="row">
                    <div class="col-md-4 biographyImg">
                        <img src="/upload/bioBshim.png" alt='loading' width="300" height="400"/>
                    </div>
                    <div class="col-md-8">
                        <h1><%= professor.name %></h1>
                        <h2 class="margin-bottom"><%= professor.title %></h2>
                        <h3 class="margin-bottom"><%= professor.university.department %></h3>
                        <h3>
                            <a href="<%= professor.university.URL %>" target="_blank">
                                <%= professor.university.name %>
                            </a>
                        </h3>
                        <h2 class="margin-bottom"><%= professor.lab.title %></h2>
                        <h3 class="margin-bottom"><%= professor.lab.name %></h3>
                    </div>
                    <div class="col-md-12 text-justify margin-top">
                        <p><%= professor.bio %></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <a href="<%= professor.curriculumVitae %>" target="_blank">
                            Curriculum Vitae
                        </a>&nbsp(pdf)
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

</body>
</html>