<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<header class="app-bar paper4">
    <% include ../partials/header %>
</header>
<main class="margin-top">
    <div class="row">
        <div class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1">
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <h1>TEACHING</h1>
                    </div>
                    <div class="col-md-12">
                        <h2>Since 2010</h2>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <% courses.forEach((c) => { %>
                        <tr>
                            <td>
                                <% if(c.active){ %>
                                    <i class="fas fa-circle" style="color:green"></i>
                                <% } else{ %>
                                        <i class="fas fa-circle" style="color:red"></i>
                                <% } %>
                            </td>
                            <td>
                                <%= c.code %>
                            </td>
                            <td>
                                <% if(c.active){ %>
                                    <a href="/course/<%= c.alias %>">
                                        <%= c.name %>
                                    </a>
                                <% } else{ %>
                                        <%= c.name %>
                                <% } %>

                            </td>
                            <td>
                                <%= c.time %>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>